<div class="show_content">
<h1>Add an Asset</h1>
<%= form_for(@asset, :html => {:multipart => true}) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%#= render "#{@asset.current_step}_step", :f => f %>

  <div class="field">
    <label><%#= f.label :name %>Title (Full or long Title)</label><br />
    <%= f.text_field :name, class: 'span6' %>
  </div>

  <div class="field">
    <%= f.label :short_title %><br />
    <%= f.text_field :short_title, class: 'span6' %>
  </div>

  <div class="field dateselect">
    <%= f.label :date_published %><br />
    <%#= select_date Date.today, :prefix => :date_published %><br />
    <%= date_select :asset, :date_published %>
  </div>

  <div class="field">
    <label>Image/Asset Type</label>
    <label class="radio">
      <%= f.radio_button(:asset_type, "links") %>
      Links
    </label>
    <label class="radio">
      <%= f.radio_button(:asset_type, "img-for-news-release") %>
      Images for News Releases
    </label>
    <label class="radio">
      <%= f.radio_button(:asset_type, "images") %>
      Images
    </label>
    <label class="radio">
      <%= f.radio_button(:asset_type, "logos") %>
      Logos
    </label>
    <label class="radio">
      <%= f.radio_button(:asset_type, "faq-question") %>
      FAQ Question
    </label>
    <label class="radio">
      <%= f.radio_button(:asset_type, "none") %>
      None
    </label>
  </div><br />

  <div class="field">
    <%= f.label :category_id %><br /><%= f.select(:category_id, Category.order("name").map { |c| [c.name, c.id] } ) %><br />
 </div>

   <div class="field">
    <%= f.label 'Upload' %><br /><%= f.file_field :aea_file %>
  </div>

  <div class="field">
    <%= f.label :excerpt %><br />
    <%= f.text_area :excerpt, class: 'span6', rows: '10' %>
  </div>


  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'span6', rows: '15' %>
  </div>


  <!-- FAQs -->
  <div class="field">
    <%= f.label :faq_question %><br />
    <%= f.text_area :faq_question, rows: '2', class: 'span6' %>
  </div>
  <div class="field">
    <%= f.label :faq_answer %><br />
    <%= f.text_area :faq_answer, rows: '3', class: 'span6' %>
  </div>
<!-- END FAQS -->

<!-- URLs -->
  <div class="field">
    <%= f.label :link_display_text %><br />
    <%= f.text_field :link_display_text, class: 'span6' %>
  </div>
  <div class="field">
    <%= f.label :link_url %><br />
    <%= f.text_field :link_url, class: 'span6' %>
  </div>
<!-- END URLs -->








  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>