
<div class="row-fluid span6 show_content" style="">
  <h1 class="pull-left">Assets</h1>
  <%= button_to  'Add new asset', new_asset_path, class: 'pull-right btn btn-primary', method: 'get' %>
<table width="575" class="table table-striped">
  <tr>
    <th>Asset</th>
    <th>Category</th>
    <th>&nbsp;</th>

  </tr>
<% @assets.each do |asset| %>
  <tr>
    <td width="300"><%= link_to asset.name, asset.aea_file_url, target: '_blank' %> </td>
    <td width="130" valign="top"><% @category.each do |cat| %>
        <% if cat.id == asset.category_id %>
          <%= link_to cat.name, cat %>
          
        <% end %>
      <% end %> </td>
      <td width="60">
        <%= link_to '<i class="icon-eye-open"></i>'.html_safe, asset %> &nbsp;
        <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_asset_path(asset) %> &nbsp;
    <%= link_to '<i class="icon-trash"></i>'.html_safe, asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>

