<p id="notice"><%= notice %></p>

<div class="row">
<div class="span7">
	<div class="row-fluid">
		<div class="span11 offset1">
			<div class="span8">
				<h3>Latest News Release</h3>
				<h1><%= @latest_news.name %></h1>
				<%= @latest_news.description.html_safe %>
				<%= image_tag @latest_news.aea_file_url(:thumb) %><br /><br />
				<%= link_to 'Download PDF', @latest_news.aea_file_url, target: '_blank' %>
				 
</div>
<div class="span4">
	<h3 style="padding-top:73px;">News Release Archive</h3>
	<ul id="assets" class="topMargin" style="float:left;padding-top:0;margin-left:12px;">
		<% @assets.each do |a| %>
			<li style="width:100%;"><%= link_to a.short_title, a.aea_file_url, target: '_blank' %></li>
		<% end %>
	</ul>
</div>
</div>
</div>
</div>
</div>

<% @categories.each do |category| %>
  <% content_for :sb_box do %>
          <%= pr_category(category) %>
  <% end %>
<% end %>