<p id="notice"><%= notice %></p>
<div class="row-fluid span6 show_content" style="">
<ul id="assets" class="span5 rightNav" style="">
<h3>Press Release Archives</h3>
	<% @pr_assets.each do |pra| %>
	<li><%=	link_to pra.name, pra %></li>
	<% end %>
</ul>
<h1><%= @asset.name %></h1>
<p><%= @asset.description.html_safe %></p>
</p>

<p>
  <b>Category:</b> <%= link_to @asset.category.name, category_path(@asset.category) %>
</p>

<p>
	<% if @asset.aea_file? %>
  		<%= image_tag @asset.aea_file_url(:thumb) %><br />
  		<%= link_to 'Download', @asset.aea_file_url %>
  	<% end %>
</p>




<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
</div>

<% @categories.each do |category| %>
  <% content_for :sb_box do %>
          <%= pr_category(category) %>
  <% end %>
<% end %>

	

</div>
