<div class="show_content">

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'span6' %>
  </div>
  <div class="field">
    <%= f.label :excerpt %><br />
    <%= f.text_area :excerpt, class: 'span6',  rows: '10' %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'span6',  rows: '10' %>
  </div>

 <div>
     <label class="radio">
       <%= f.radio_button(:layout, "2col-1col") %>
       About Elec./AEA - links to files
     </label>
 
     <label class="radio">
       <%= f.radio_button(:layout, "1col-2col") %>
       Stories - Links to files
     </label>

     <label class="radio">
       <%= f.radio_button(:layout, "1col-2col-faq") %>
       FAQs - Links to files
     </label>

     <label class="radio">
       <%= f.radio_button(:layout, "1col-2col-resources") %>
       Resources - Links to URLs
     </label>
 </div>

 <br/><br/>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
