<style>
/*dl {width:100px;border:1px solid red;float:left;width:50%;}
ul#assets li {list-style-image:url(/assets/li-arrow.png);}*/
ul#assets li {float:left;width:40%;}
.red1 {border-top:1px solid red;}
.black {border-top:1px solid black;}
</style>


<div class="row"><!-- right content main -->
  <div class="span7"><!-- inner container -->
  <% @categories.each do |category| %>
    <!-- h3 section title -->
    <div class="row-fluid <%= hide_pr(category) %>">
      <div class="span11 offset1">
        <h3><%= category.name %></h3>
      </div>
    </div>
    <!-- section body -->
    <div class="row-fluid <%= hide_pr(category) %>">
      <div class="span11 offset1">
        <%= category_type(category).html_safe %>
      </div>
    </div>
    <%= divider(category).html_safe %>
  <% end %>
  </div><!-- inner container END -->
</div><!-- right content main END -->


<!--

  <%#= link_to 'New Category', new_category_path %> | <%#= link_to 'New Asset', new_asset_path %> -->

<% @categories.each do |category| %>
  <% content_for :sb_box do %>
          <%= pr_category(category) %>
  <% end %>
<% end %>



</div>
<br />


