<style>
/*dl {width:100px;border:1px solid red;float:left;width:50%;}
ul#assets li {list-style-image:url(/assets/li-arrow.png);}*/
ul#assets li {float:left;width:40%;}
</style>

 
    
    
<div class="span6 pull-right" style="text-align:right;"><%= link_to 'New Category', new_category_path %> | <%= link_to 'New Asset', new_asset_path %></div>
  <% @categories.each do |category| %>
    <div class="row-fluid " style="margin-left:50px;">
    
      <div class="<%= assets_present(category) %>" style="">
        <h3><%= category.name %></h3>
        <p><%= category.description.html_safe %></p>
      </div>

      <% if category.assets.present? %>
      <div class="span8 pull-right" >
        <ul id="assets" style="display:block;margin-top:10px;">
        <% category.assets.each do |ca| %>  
          <li><%= link_to ca.name, ca %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <div style="border-top:1px solid #cdcdcd;margin:7px 30px 7px 50px;"></div>
  <% end %>

  




</div>
<br />


