<h1>Listing categories</h1>

<style>
dl {width:100px;border:1px solid red;float:left;width:50%;}
</style>


  <% @categories.each do |category| %>
  <div class="span8" style="border:1px solid blue;">
    <h3><%= category.name %></h3>
    <p><%= category.description %></p>
    <% category.assets.each do |ca| %>
      <div class="span4">
        <dl>
          <dt><%= link_to ca.name, ca %></dt>
              <% if ca.aea_file_url.present? %>
              <dd><%= link_to 'Download file', ca.aea_file_url %></dd>
              <% end %>
          </dl>
      </div>
    <% end %>
  </div>
  <% end %>

  




</div>
<br />

<%= link_to 'New Category', new_category_path %> | <%= link_to 'New Asset', new_asset_path %>
