<div class="row-fluid span6 show_content" style="">
<ul id="assets" class="span5 rightNav" style="float:right;">
  <% @category.assets.each do |ca| %>
    <li>
    <h3><%= link_to ca.name, ca %></h3>
    <p><%= ca.description.html_safe %></p>
    </li>
    <% end %>
</ul>
<h1><%= @category.name %></h1>
<p><%= @category.description.html_safe %></p>




<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</div>

<% @categories.each do |category| %>
  <% content_for :sb_box do %>
          <%= pr_category(category) %>
  <% end %>
<% end %>