<!DOCTYPE html>
<html>
<head>
  <title>American Electrology Association</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

<div class="container" id="content">
	<%#= image_tag 'blue-gradient.png' %>
	<div id="header">
		<%= image_tag 'top-logo.png', alt: 'AEA Logo' %>
		<%= image_tag 'top-title-tagline.png', alt: 'Media and News, Resources for the media and AEA members.', style: 'margin-left:50px;'%>
	</div>


	<div class="row" id="main">
	<div id="sidebar" class="span3">
		<%= image_tag 'side-tag.png' %>
		<%= image_tag 'orange-ribbon.png', style: 'min-width:329px;min-height:66px;'%>

		<div style="width:220px;padding:15px;margin:15px 0 0 30px;color:#fff;
		-moz-box-shadow:    -6px 6px 12px 0px #037db1;
  		-webkit-box-shadow: -6px 6px 12px 0px #037db1;
  		box-shadow:         -6px 6px 12px 0px #037db1;">
			<p>Updated 3:26 PM ET, Friday, September 7, 2012</p>

<h5>Trend Report: From Barely There to Totally Bare, Hair Removal Goes All The Way This Season</h5>

<p><em>Getting smooth is easier than ever with a wide variety of options available.</em></p> 

<p>Before you tie on that teeny-weeny bikini this summer, you'll want to check out this summer's hottest trend in hair removal: barely there to totally bare. We're talking about body hair, and while everyone has it, this season, it's hot to not. So before hitting the beach, ladies are looking for ways to get smooth. There are a number of ways to get rid of unwanted hair—no matter  …</p>

<p>See full press release</p></div>
	</div>
	<div class="span7">
		<%= yield %>
	</div>
	</div>

</div>
<div class="container" id="footer" style="">
	<div class="row">
		<div class="span3">Span 3</div>
		<div class="span7">Span 7</div>
	</div>
	<div class="row">
		<div class="span4 offset6" style="border:1px solid red;">&copy;<%= Time.now.strftime('%Y') %> American Electrology Association</div>

	</div>
</div>
</body>
</html>
