<!DOCTYPE html>
<html>
<head>
  <title>American Electrology Association</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

<div class="container" id="content">
	<%#= image_tag 'blue-gradient.png' %>
	<div id="header">
		<%= link_to (image_tag 'top-logo.png', alt: 'AEA Logo'), root_path, class: 'image-link' %>
		<%= image_tag 'top-title-tagline2.png', alt: 'Media and News, Resources for the media and AEA members.', style: 'margin-left:50px;'%>
	</div>


	<div class="row" id="main">
	<div id="sidebar" class="span3">
		<%= image_tag 'side-tag.png' %>
		<%= image_tag 'orange-ribbon.png', style: 'min-width:329px;min-height:66px;'%>

		<div id="sb_box">
			<%= yield :sb_box %>
		</div>
	</div>
	<div class="span7">
		<%= yield %>
	</div>
	</div>

</div>
<div class="container" id="footer" style="">
	<div class="row">
		<div class="span3">
			<%= link_to (image_tag 'footer-fb.png', alt: 'Facebook', id: 'facebook'), 'http://www.facebook.com' %>
			<%= link_to (image_tag 'footer-youtube.png', alt: 'Youtube'), 'http://www.youtube.com' %>
		</div>
		<div class="span7">
			<p>General Information: <%= mail_to 'infoaea@electrology.com', 'infoaea@electrology.com' %><br />
			Media Inquiries: <%= mail_to 'mediaaea@electrology.com', 'mediaaea@electrology.com' %></p>

		</div>
	</div>
	<div class="row">
		<div class="span4 offset6">&copy;<%= Time.now.strftime('%Y') %> American Electrology Association</div>

	</div>
</div>
</body>
</html>
